name: Daily Rank Check

on:
  schedule:
    - cron: '0 2 * * *'   # 한국 오전 11시
    - cron: '0 9 * * *'   # 한국 오후 6시
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          pip install requests selenium webdriver-manager beautifulsoup4

      - name: Run Script
        run: python rank_bot.py
